*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-rows: 500px auto auto;
}

/*---------CABECERA----------*/
header{
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: Onest;
    font-size: 14px;
    position: fixed;
    width: 100%;
    padding:20px 0px;
    background-color: white;
    z-index: 1;
}
header a{
    padding:0px 20px;
    text-decoration: none;
    color: black;
}
header a:hover{
    color: #607d8b;
}
.centro{
    display: flex;
    align-items: center;
}
.usuario{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -10px;
}
.letra{
    margin-left: -30px;
    width: 100px;
}
.dibujo{
    width: 60px;
}
/*---------SLIDER----------*/

.slider-box{
    width: auto;
    height: 100%;
    overflow: hidden;
    grid-area: 1;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
}

.slider-box img{
    width: 100%;
    opacity: 0.5;
}

.slider-box:before{
	content: ''; /* crear un nuevo contenido */
	position: absolute;
    top: 80px;
	width: 100%;
	height: 420px;
	background:rgba(0, 0, 0, 0.9);
	z-index: 2; /* para superponer el elemento */
	mix-blend-mode: screen; /*para mezclar ambos componentes*/
}

@keyframes slide{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

section {
    display: flex;
    color: black;
    padding: 35px;
}

section .foto {
    width: 50%;
    height: 650px;
    padding: 0 25px 0 0;
}

section .foto img {
    position: relative;
    height: 650px;
    width: 100%;
    border-radius: 50rem;
    object-fit: cover;
}

section .textoB {
    width: 50%;
    padding: 25px 30px;
} 

section p{
    text-align: justify;
    width: 80%;
    font-size: 18px;
    font-family: Montserrat;
}

section h2 {
    padding: 30px 0;
    width: 80%;
    font-size: 52px;
    font-family:Gantari;
    line-height: 0.9em;
}

/*PIE DE PAGINA*/

.footer{
    background-color: rgb(0, 0, 0);
    padding: 3rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: white;
    grid-area: 3;
}

.contenedor-footer1{
    margin-right: 2rem;
    margin-top: 5rem;
}

.contenedor-footer2{
    display: grid;
    grid-template-areas:
        "a a a"
        "a a a"
        "b b b";
}

.contenedor2{
    display: flex;
    justify-content: space-around;
    grid-area: a;
}

.contenedor-footer1 .redes{
    display: flex;
    justify-content: space-around;
}

.info{
    flex: 0 0 calc(40% - 1rem);
}

.info img{
    padding-top: 20px;
}

.info h3{
    font-size: 14px;
    margin: 20px 0;
    font-family: Onest;
    font-style: bold;
}
.info p{
    font-size: 0.8rem;
    padding: 10px;
    font-family: Onest;
}
.info a{
    color: white;
    text-decoration: none;
}
.info h4{
     color: white;
}
.inforecla{
    margin-top: -80px;
    margin-left: -50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: b;
}

@media (max-width:600px) {
    .footer{
        flex-direction: column;
    }    
    .inforecla{
        margin-top: 30px;
    }
    .contenedor-footer1{
        margin-top: -5px;
    }
    .centro{
        width: 300px;
    }
}