.layout {
    display: grid;
    grid-template-areas:
      "header header header"
      "categoria item item"
      "categoria item item"
      "footer footer footer";
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 500px auto;
    gap: 10px; /* Espaciado entre las áreas */
    height: 100vh; /* Altura completa de la ventana */
  }
  
  header {
    grid-area: header;
  }
  
  section.categoria {
    grid-area: categoria;
  }
  
  section.productos {
    grid-area: item;
  }
  
  footer {
    grid-area: footer;
  }