*{
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  grid-template-areas: 
      "header header header"
      "categoria item item"
      "categoria item item"
      "footer footer footer";
}

/*---------CABECERA----------*/
header{
  display: flex;
  justify-content: space-between;
  font-family: Onest;
  font-size: 14px;
  width: 100%;
  padding:20px 0px;
  background-color: white;
  grid-area: header;
}
header a{
  padding:0px 20px;
  text-decoration: none;
  color:#ffffff;
}
.centro{
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 600px;
}
.centro input{
  width: 80%;
padding: 10px 0px;
border: 0.4px solid #607d8b;
letter-spacing: 1px;
  text-indent: 2em;
color: #607d8b;
border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.centro button{
width: 20%;
  padding: 10px 0px;
outline: none;
color: white;
border: 0.4px solid #607d8b;
letter-spacing: 1px;
background: #00a473;
cursor: pointer;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.usuario{
  display: flex;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-bottom: -10px;
}
.letra{
  margin-left: -30px;
  width: 100px;
}
.dibujo{
  width: 60px;
  border: none;
}
.carrito{
  width: 30px;
}
.user{
  width: 30px;
}
.menu{
  display: none;
}
.menu img{
  width: 0px;
}
header span{
  background-color: #0da477;
  padding: 3px 7px;
  border-radius: 15px;
}
/*-----------SECCION TIENDA-----------*/
.contenedor-categoria{
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  grid-area: categoria;
  font-family: Onest;
  width: 180px;
}
.contenedor-categoria h2{
  font-size: 18px;
  margin: 20px 0px 20px 0px;
  background-color: #00a473;
  padding: 15px;
  color: white;
  letter-spacing: 1px;
  font-weight: 100;
}
.nombre-categorias h3{
  font-size: 20px;
  color: #00a473;   
}
.nombre-categorias{
  display: flex;
  flex-direction: column;
}
.nombre-categorias ul{
  padding: 1px 0px 1px 17px;
  list-style: none;
}
.nombre-categorias a{
  font-size: 13px;
  text-decoration: none;
  color: #5e6061;
  text-transform: uppercase;    
}
.nombre-categorias a:hover{
  color: #607d8b;
}
.contenedor-principal{
  box-sizing: border-box;
  font-family: Onest;
  grid-area: item;
}           
.conjunto-items{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.item{
  flex: 0 0 calc(33.3% - 1rem);
  border: 1px solid #e1e1e1;
  padding: 10px 0px 30px 0px;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0px;
}
.item img{
  display:block;
  margin:auto;
  width: 195px;
  height: 195px;
}
.item h3{
  font-size: 14px;
  border-bottom: 4px solid #d46e0f;
display: inline-block;
letter-spacing: 2px;
margin: 20px 0px 10px 0px;
  text-transform: uppercase;
}
.item h2{
  font-size: 16px;
  margin: 10px 0px 20px 0px;
}
.item p{
  font-size: 14px;
  margin: 10px 0px;
}
.item button{
  width: 80%;
  padding: 10px 0px;
outline: none;
color: white;
border: 0.4px solid #607d8b;
letter-spacing: 1px;
background: linear-gradient(135deg, #ff8614, #05b580);
cursor: pointer;
  border-radius: 30px;
}
.msj{
  font-size: 20px;
  color: #5e6061;
}
/*--------PIE DE PAGINA-------*/

.footer{
  background-color: rgb(0, 0, 0);
  padding: 3rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  color: white;
  grid-area: footer;
}

.contenedor-footer-first{
  margin-right: 2rem;
  margin-top: 5rem;
}

.contenedor-footer-second{
  display: grid;
  grid-template-areas:
      "a a a"
      "a a a"
      "b b b";
}

.contenedor-informes{
  display: flex;
  justify-content: space-around;
  grid-area: a;
}

.contenedor-footer-first .redes{
  display: flex;
  justify-content: space-around;
}
hr{
  margin: 15px 0px;
}
.info{
  flex: 0 0 calc(40% - 1rem);
}

.info img{
  padding-top: 20px;
}

.info h3{
  font-size: 1.1rem;
  margin: 20px 0;
  font-family: Onest;
  font-style: bold;
}
.info p{
  font-size: 0.8rem;
  padding: 10px;
  font-family: Onest;
}
.info a{
  color: white;
  text-decoration: none;
}
.info h4{
  color: white;
}

.contenedor-reclamos{
  margin-top: -80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: b;
}

@media (max-width:700px) {
  body{
      grid-template-areas: 
          "header"
          "item"
          "footer";
  }
  .footer{
      flex-direction: column;
  }    
  .contenedor-reclamos{
      margin-top: 30px;
  }
  .contenedor-footer-first{
      margin-top: -5px;
  }
  .item{
      flex: 0 0 calc(50% - 1rem);
      margin: 10px 0px;
  }  
  .item img {
      width: 140px;
      height: 140px;
  }
  .centro{
      width: 0px;
      display: none;
  }
  .contenedor-categoria{
      display: none;
  }
  .logo{
      margin-left: -20px;
      margin-top: 3px;
  }
  .dibujo{
      width: 0px;
  }
  .menu{
      display: flex;
  }
  .menu img{
      width: 40px;
      margin: 0px 10px;
  }
}